[submodule "snapmap-frontend"]
	path = snapmap-frontend
	url = https://github.com/szemerics/snapmap-frontend
[submodule "snapmap-backend"]
	path = snapmap-backend
	url = https://github.com/szemerics/snapmap-backend
